<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="addrestaurante.css">
     <meta charset="utf-8">
     <title>Adicione seu restaurante</title>
  </head>
  <body>

    <!--FORMULARIO PARA CRIAÇAO DE EVENTOS-->
    <form
      name="input" action="/restaurante" method="post">
    <h2>Adicionar Restaurante</h2>


    <div
      class="campo">
      <input type="text" name="nameplace" placeholder="Qual o nome do estabelecimento?"
      id="nameplace">
    </div>

    <div
      class="campo">
      <input type="text" name="phone" placeholder="Qual o telefone?"
      id="phone" required="">
    </div>

    <div
      class="campo">
      <input type="text" name="food1" placeholder="Opção de comida 1"
      id="food1" required="">
    </div>

    <div
      class="campo">
      <input type="text" name="food2" placeholder="Opção de comida 2"
      id="food2" required="">
    </div>

    <div
      class="campo">
      <input type="text" name="food3" placeholder="Opção de comida 3"
      id="food3" required="">
    </div>

    <div
      class="campo">
      <input type="text" name="food4" placeholder="Opção de comida 4"
      id="food4" required="">
    </div>

    <div
      class="campo">
      <input type="number" step="0.01" min="0" name="deliveryRate" placeholder="Taxa de entrega"
      id="deliveryRate">
    </div>

    <div
      class="botao">
      <input type="submit" value="Enviar">
    </div>

    <div
      class="botao">
      <input type="reset" value="Limpar">
    </div>
  </form>
 <!--FIM DO FORMULÁRIO-->

 <!--RODAPE-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank" >
      Thoughtworks</a></p>
    </div>
  </footer>
 <!--RODAPE-->

  </body>
</html>
