<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="criarevento.css">
     <meta charset="utf-8">
     <title>Crie seu evento</title>
  </head>
  <body>

    <!--FORMULARIO PARA CRIAÇAO DE EVENTOS-->
    <form
      name="input" action="/eventos" method="post">
    <h2>Crie seu evento aqui</h2>
    <div
      <form method="post" action="cadastrar-enquete.php">
      <center><select name="restaurant">
      <option value selected>Selecione o restaurante</option>
      <option value="Pizzaria Atlântico">Pizzaria Atlântico</option>
      </select></center>
    </div>

    <div
      class="campo">
      <input type="text" name="ownername" placeholder="Quem está criando o evento?"
      id="name">
    </div>

    <div
      class="campo">
      <input type="text" name="name" placeholder="Qual o nome do evento?"
      id="event" required="">
    </div>

    <div
      class="campo">
      <input type="datetime-local" name="time"
      placeholder="Data e hora"
      id="time" class="datetime-input" required="">
    </div>

    <div
      class="botao">
      <input type="submit" value="Enviar">
    </div>

    <div
      class="botao">
      <input type="reset" value="Limpar">
    </div>
  </form>
 <!--FIM DO FORMULÁRIO-->

 <!--RODAPE-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank" >
      Thoughtworks</a></p>
    </div>
  </footer>
 <!--RODAPE-->

  </body>
</html>
