<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="criar.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><center>Formulário</center></h1>

    <form name="input" action="html_form_action.asp" method="get">
      <center>Nome:<input type="text" name="firstname"></center>
      <center>Evento:<input type="text" name="evento"></center>
      <center>Data:<input type="datetime-local" name="Data"></center>
      <center><input type="submit" value="Enviar"></center>
    </form>
  </body>
</html>
