<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="criarevento.css">
     <meta charset="utf-8">
     <title>Crie seu evento</title>

  </head>
  <body>

    <header>
      <h1><a id="oxifood" href="/" >oxiFood</a></h1>
    </header>

    <div class="wrapper">
      <div class="content">

    <!--FORMULARIO PARA CRIAÇAO DE EVENTOS-->
    <form
      name="input" action="/eventos" method="post">
    <h2>Criar evento</h2>

    <div
  class="campo">
      <select name="restaurant" required="">
      <option value selected>Selecione o restaurante</option>

      <% for(var i=0; i<comedorias.length; i++) {%>
        <option value="<%= comedorias[i]._id %>"><%= comedorias[i].nameplace %></option>
      <% } %>
    </select>

  </div>

    <div
      class="campo">
      <input type="text" name="ownername" placeholder="Qual o seu nome?"
      id="name" required="">
    </div>

    <div
      class="campo">
      <input type="text" name="name" placeholder="Qual o nome do evento?"
      id="event" required="">
    </div>

    <div
      class="campo">
      <input type="text" name="time"
      placeholder="Qual o horário do evento?"
      id="time" class="datetime-input" required="" onfocus="(this.type='datetime-local')"
    </div>

    <div
      class="botao">
      <input type="submit" value="Enviar">
    </div>

    <div
      class="botao">
      <input type="reset" value="Limpar">
    </div>

  </div>

  </form>
 <!--FIM DO FORMULÁRIO-->

 <!--RODAPE-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank" >
      Thoughtworks</a></p>
    </div>
  </footer>
 <!--RODAPE-->
 </div>
  </body>
</html>
