<!DOCTYPE html>
<html>
  <head>
		  <link rel="stylesheet" href="../public/planilha.css">
		  <title>formulario</title>
		          <meta charset="utf-8">

			      <body>
				      <h1><center>Formulário</center></h1>


					  <form name="input" action="html_form_action.asp"  method="get">
<h2>Quer participar do evento?</h2>
<div class="campo">

						  <center><input type="text" name="firstname" placeholder="Nome do Participante" id="seu nome" required></center>
</div>

<div class="campo">

              <center>Restrição alimentar</center>
						  <center>Sim<input type="checkbox" name="sim"></center>

              <center>Não<input type="checkbox" name="não"></center>

              <center><input type="text" name="restriçao alimentar" placeholder="Se sim, qual é sua restrição alimentar?" id="Restrinção"></center>
</div>

<div class="opções">
              <center>Opção de pizza</center>
              <center><select name="Opção de pizza"></center>
              <option value="Calabresa">Calabresa</option>
              <option value="Frango">Frango</option>
              <option value="Portuguesa">Portuguesa</option>
              <option value="Mussarela">Mussarela</option>
              <option value="Vegetariana">Vegetariana</option>
              </select>
</div>

<div class="botao">
              <center><input type="submit" value="Enviar"></center>
</div>

<div class="botao">
              <center><input type="reset" value="Limpar"></center>
</div>
            </form>
  </head>
			      </body>




</html>
