<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Formulario em Planejamento</title>
    <link rel="stylesheet" href="../planilha.css">
  </head>
  <body>
<h1>Vai participar do evento?</h1>
    <form
       name="input" action="html_form_action.asp"  method="get"> </a>
        Nome:
        <input type="text" name="firstname">
        Restrição alimentar
        Sim
	       <input type="checkbox" name="sim">
        Não
        <input type="checkbox" name="não">
        <input type="submit" value="Enviar">
    </form>
    <table border="4">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
          Restricao alimentar
          </th>
        </tr>
      </thead>
  </body>
</html>
