<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Participe do evento</title>
        <link rel="stylesheet" href="../planilha.css">
  </head>
<body>
  <h1>Vai participar do evento?</h1>
    <form
     name="input" action="/participar"  method="post">
      <div>
        <input type="text" name="firstname" placeholder="Nome" required=""></div>
      <div>
          <input type="text" name="restriction" placeholder="Restrição alimentar? Se sim, qual?"></div>

      <div>  <input type="submit" value="Enviar"></div>
    </form>
    <table border="4">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
          Restrição
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<participar.length; i++) {%>
       <tr>
         <td>
           <%= participar[i].firstname%>
         </td>
         <td>
          <%= participar[i].restriction%>
         </td>

       </tr>
    <% } %>
      </tbody>
    </table>
  </body>
</html>
