table {
  margin: auto;
  margin-top: 20px;
  border-color: black;
  font-size: 24px;
  border-style:groove;
  background-color: #FF7F50	;
  font-family:monospace;
}

body {
  background-color: #FAEBD7;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

#rodape {
color: #696969;
background:  #FAEBD7;
position:absolute;
bottom:0;
width:100%;
margin-top: 10px;
text-align: center;
font-size: 14px;
}

a {
  text-align: center;
  color: #696969;
}
