form {
	background-color: #FF7F50;
  margin: 0 auto;
	width: 400px;
	padding: 4em;
	border: 4px solid #CCC;
	border-radius: 4em;
	border-color: #FF7F50;
	cursor: pointer;
}

form div + div {
	margin-top: 1em;
	text-align: center;
}

input, textarea {
	font: 1em sans-serif;
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
	text-align: center;
}

input:focus, textarea:focus {
	border-color: #FF7F50;
}

textarea {
	vertical-align:sub;
	height: 5em;
}

.campo {
	margin-bottom: 2em;
  color: #FF7F50;
  cursor: pointer;
	text-align: center;
}

h2 {
	color: white;
 	font-size: 40px;
	text-align: center;
	font-family: monospace;
}

body {
	background-color: #FAEBD7;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

select {
	font: 1em sans-serif;
	width: 300px;
	box-sizing: border-box;
	border: 1px solid #999;
	position: relative;
}


#rodape {
	color: #696969;
	background:  #FAEBD7;
	position:absolute;
	bottom:0;
	width:100%;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
}

a {
  text-align: center;
  color: #696969;
}

a.button {
  display: inline-block;
  color: black;
  background: #FAEBD7;
  padding: 6px 40px;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  font-family:monospace;
  font-size: 16px;
}

.button {
  color: white;
  background: #FF7F50;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-family:monospace;
  font-size: 16px;
}
