h1 {
  color: white;
  font-family: monospace;
  font-size: 35px;
  line-height: 5px;
}

h2 {
  line-height: 10px;
  font-size: 20px;
  font-family:monospace;
  font-style: italic;
}

a {
 display:inline-block;
 text-decoration:none;
 padding:6px 4px;
 border:1px solid #ccc;
 background-color:#FF7F50;
 color:white;
 font:15px arial, sans-serif;
 line-height: 10px;
}

header {
      background: #FF7F50;
      color: #fff;
      text-align: center;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAEBD7;
}

#rodape {
    color: #696969;
    background:  #FAEBD7;
    position:absolute;
    bottom:0;
    width:100%;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

a {
  background: #FAEBD7;
  color: #696969;

}

table {
    margin: auto;
    margin-top: 20px;
    border-color: black;
}
