h1 {
  color: white;
  font-family: monospace;
  font-size: 35px;
  line-height: 5px;
}

h2 {
  line-height: 10px;
  font-size: 20px;
  font-family:monospace;
  font-style: italic;
}

header {
  background: #FF7F50;
  color: #fff;
  text-align: center;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  background-color: #FAEBD7;
}

#rodape {
  color: #696969;
  background:  #FAEBD7;
  position:absolute;
  bottom:0;
  width:100%;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

a.button {
  display: inline-block;
  color: black;
  background: #FAEBD7;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  font-family:monospace;
  font-size: 16px;
}

table {
  margin: auto;
  margin-top: 20px;
  border-color: black;
  font-size: 19px;
}

h2 {
  text-align:center;
  font-family:monospace;
  font-variant: small-caps;
  color: black;
  font-size: 30px;
}


a {
  text-align: center;
  color: black;
}

.wrapper {
  min-height:100%;
  position: relative;
}

.content {
  padding-bottom: 100px;
  text-align: center;
}

html,
body  {
  height: 96%;
}

#criar {
  text-align: center;
}
