table {
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
  background-color: #FF7F50	;
  font-family:monospace;
  border-style: hidden;
  	border-radius: 10px;
}

body {
  background-color: #FAEBD7;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  text-align: center;
}

a.button {

  display: inline-block;
  color: black;
  background: #FF7F50;
  padding: 5px 40px;
  padding-top: 0px;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  font-family:monospace;
  font-size: 16px;
  text-align: center;
}

.button {
  text-align: center;
  color: black;
  background: #FF7F50;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-family:monospace;
  font-size: 16px;
  text-align: center;
}

a {
  text-align: center;
  color: #696969;
}

#rodape {
  color: #696969;
  background:  #FAEBD7;
  position:absolute;
  bottom:0;
  width:100%;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
